.footer {
  /* width: 100%; */
  /* background-color: #070707; */
  border-top: var(--section-border);
  padding-block: 3rem;
  display: flex;
  justify-content: space-between;
}

.footer > div {
  width: fit-content;
}

.logo {
  font-family: "EB Garamond", serif;
  margin-bottom: 0.3rem;
  font-weight: 900;
  font-size: 2rem;
  margin-top: 0;
}
.footer > span {
  display: block;
}

.buymeacoffeeButton {
  display: block;
  margin-top: 1.5rem;

  width: 10rem;
  border: var(--ui-clickable-border);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.disclaimer {
  max-width: 17rem;
  justify-self: flex-end;
  align-self: flex-end;
  margin-left: 2rem;
}

.disclaimer > p {
  margin: 0;
  font-size: 0.8rem;
  text-align: justify;
  hyphens: auto;
}

@media (max-width: 768px) {
}
