.accordion {
  position: relative;
}

.hiddenCheckbox {
  display: none;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;

  cursor: pointer;

  border-radius: var(--ui-clickable-border-radius);
  border: var(--ui-clickable-border);
  box-shadow: var(--ui-box-shadow);

  padding: 0.4rem;
}

.label:hover {
  background: #eee;
}

.content {
  --expanded-height: 40rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;

  padding-left: 1rem;
}

.hiddenCheckbox:checked + .label + .content {
  max-height: var(--expanded-height);
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 12px;
  user-select: none; /* Standard syntax */
}

.hiddenCheckbox:checked + .label .arrow {
  transform: rotate(90deg);
}
