:root {
  --ui-border-radius: 4px;
  --ui-border: 2px solid black;
  --ui-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  --ui-divider-border: 1px solid #999;
}

label {
  font-size: 1.1rem;
  font-weight: 700;
}

.parameterWrapper {
  padding-block: 1.2rem;
}

.parameterDivider {
  border-top: var(--ui-divider-border);
}

#json {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
